{% extends 'base.html.twig' %}

{% block title %}Saison #{{ season.number }}{% endblock %}

{% block body %}
    
    <H1>{{ episode.title }}</H1>
    <p>{{ episode.number}}</p>
    <br>
    <p>Résumé : {{ episode.synopsis}}</p>
    

    <a href="{{ path('program_show', {id: season.program.id}) }}">
        Retour à la liste des saisons
    </a>
    <br>
    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}